{
  "name": "DentaLove",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/slick.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/slick.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/slick.min-dist.js\"}"
    },
    {
      "path": "css/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"customOutput\":\"css/style-dist.css\"}"
    },
    {
      "path": "css/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"path\":\"css/style.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false}}"
    },
    {
      "path": "js/jquery-ui.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery-ui.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery-ui.min-dist.js\"}"
    },
    {
      "path": "js/jquery.countdownTimer.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.countdownTimer.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.countdownTimer.min-dist.js\"}"
    },
    {
      "path": "js/jquery.fancybox.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.fancybox.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.fancybox-dist.js\"}"
    },
    {
      "path": "js/jquery.form.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.form.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.form-dist.js\"}"
    },
    {
      "path": "js/jquery.mCustomScrollbar.concat.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.mCustomScrollbar.concat.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.mCustomScrollbar.concat.min-dist.js\"}"
    },
    {
      "path": "js/jquery.mask.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.mask.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.mask-dist.js\"}"
    },
    {
      "path": "js/jquery.selectBoxIt.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.selectBoxIt.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.selectBoxIt.min-dist.js\"}"
    },
    {
      "path": "js/jquery.sticky-kit.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.sticky-kit.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.sticky-kit.min-dist.js\"}"
    },
    {
      "path": "js/jquery.tooltipster.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.tooltipster.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.tooltipster.min-dist.js\"}"
    },
    {
      "path": "js/jquery.validate.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery.validate.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery.validate-dist.js\"}"
    },
    {
      "path": "js/picturefill.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/picturefill.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/picturefill.min-dist.js\"}"
    },
    {
      "path": "js/plugins.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/plugins-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-javascript\":{\"path\":\"js/plugins.js\",\"mangle\":true}}"
    },
    {
      "path": "js/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/main.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-javascript\":{\"path\":\"js/scripts.js\",\"mangle\":true}}"
    },
    {
      "path": "images/touch/android-chrome-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/android-chrome-144x144.png\",\"size\":9114,\"initialSize\":9114,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/android-chrome-192x192.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/android-chrome-192x192.png\",\"size\":12516,\"initialSize\":12516,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/android-chrome-36x36.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/android-chrome-36x36.png\",\"size\":2773,\"initialSize\":2773,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/android-chrome-48x48.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/android-chrome-48x48.png\",\"size\":3453,\"initialSize\":3453,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/android-chrome-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/android-chrome-72x72.png\",\"size\":4965,\"initialSize\":4965,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/android-chrome-96x96.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/android-chrome-96x96.png\",\"size\":6258,\"initialSize\":6258,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-114x114.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-114x114.png\",\"size\":6856,\"initialSize\":6856,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-120x120.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-120x120.png\",\"size\":7073,\"initialSize\":7073,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-144x144.png\",\"size\":8601,\"initialSize\":8601,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-152x152.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-152x152.png\",\"size\":9168,\"initialSize\":9168,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-180x180.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-180x180.png\",\"size\":10734,\"initialSize\":10734,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-57x57.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-57x57.png\",\"size\":3827,\"initialSize\":3827,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-60x60.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-60x60.png\",\"size\":3967,\"initialSize\":3967,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-72x72.png\",\"size\":4697,\"initialSize\":4697,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-76x76.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-76x76.png\",\"size\":4908,\"initialSize\":4908,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon-precomposed.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon-precomposed.png\",\"size\":12351,\"initialSize\":12351,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/apple-touch-icon.png\",\"size\":10734,\"initialSize\":10734,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/favicon-16x16.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/favicon-16x16.png\",\"size\":1299,\"initialSize\":1299,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/favicon-194x194.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/favicon-194x194.png\",\"size\":6575,\"initialSize\":6575,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/favicon-32x32.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/favicon-32x32.png\",\"size\":1235,\"initialSize\":1235,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/favicon-96x96.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/favicon-96x96.png\",\"size\":3326,\"initialSize\":3326,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/mstile-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/mstile-144x144.png\",\"size\":4899,\"initialSize\":4899,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/mstile-150x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/mstile-150x150.png\",\"size\":4949,\"initialSize\":4949,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/mstile-310x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/mstile-310x150.png\",\"size\":5500,\"initialSize\":5500,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/mstile-310x310.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/mstile-310x310.png\",\"size\":10836,\"initialSize\":10836,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "images/touch/mstile-70x70.png",
      "configJson": "{\"compiler-png\":{\"path\":\"images/touch/mstile-70x70.png\",\"size\":3523,\"initialSize\":3523,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "js/scripts-process.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/scripts.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "js/plugins-process.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/plugins.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "css/helpers/_variables.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false}}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "css/helpers",
      "css",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/style.scss",
      "imports": [
        "css/components/_variables.scss",
        "css/components/_reset.scss",
        "css/components/_placeholders.scss",
        "css/components/_form-elements.scss",
        "css/components/_typical-elements.scss",
        "css/components/_header.scss",
        "css/components/_footer.scss",
        "css/components/_buttons.scss",
        "css/components/_hero.scss",
        "css/components/_request.scss",
        "css/components/_catalogue.scss",
        "css/components/_about.scss",
        "css/components/_benefits.scss",
        "css/components/_info.scss",
        "css/components/_contacts.scss",
        "css/components/_modal.scss",
        "css/components/_plugins.scss"
      ]
    },
    {
      "path": "js/scripts.js",
      "imports": [
        "js/components/jquery-3.3.1.js",
        "js/components/jquery-ui.js",
        "js/components/picturefill.js",
        "js/components/slick.js",
        "js/components/tooltipster.bundle.js",
        "js/components/jquery.inputmask.bundle.js",
        "js/components/jquery.validate.js",
        "js/components/messages_ru.min.js",
        "js/components/jquery.selectBoxIt.js",
        "js/components/jquery.fancybox.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/6names.net.ua/www/dl",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "fergis.ftp.ukraine.com.ua",
      "port": 21,
      "user": "fergis_ftp",
      "password": "shimla2003"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "css/style.css",
        "ctime": "2018-03-14T08:42:02.649Z",
        "mtime": "2018-03-14T08:42:02.649Z",
        "size": 71507
      },
      {
        "file": "css/style.css.map",
        "ctime": "2018-03-14T07:44:05.420Z",
        "mtime": "2018-03-14T07:44:05.420Z",
        "size": 29700
      },
      {
        "file": "images/touch/android-chrome-192x192.png",
        "ctime": "2018-03-12T09:32:22.162Z",
        "mtime": "2018-03-12T08:31:18.000Z",
        "size": 11126
      },
      {
        "file": "images/touch/apple-touch-icon.png",
        "ctime": "2018-03-12T09:32:22.171Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 10520
      },
      {
        "file": "images/touch/browserconfig.xml",
        "ctime": "2018-03-12T09:32:22.177Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 258
      },
      {
        "file": "images/touch/favicon-16x16.png",
        "ctime": "2018-03-12T09:32:22.183Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 1341
      },
      {
        "file": "images/touch/favicon-32x32.png",
        "ctime": "2018-03-12T09:32:22.189Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 1966
      },
      {
        "file": "images/touch/favicon.ico",
        "ctime": "2018-03-12T09:32:22.194Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 15086
      },
      {
        "file": "images/touch/mstile-150x150.png",
        "ctime": "2018-03-12T09:32:22.199Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 8782
      },
      {
        "file": "images/touch/safari-pinned-tab.svg",
        "ctime": "2018-03-12T09:32:22.205Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 2673
      },
      {
        "file": "images/ui/ui-icons.html",
        "ctime": "2018-03-13T16:02:39.215Z",
        "mtime": "2018-03-13T16:02:39.209Z",
        "size": 95314
      },
      {
        "file": "index.html",
        "ctime": "2018-03-13T08:03:29.317Z",
        "mtime": "2018-03-13T08:03:29.316Z",
        "size": 16313
      },
      {
        "file": "js/scripts.js",
        "ctime": "2018-03-14T08:47:06.197Z",
        "mtime": "2018-03-14T08:47:06.196Z",
        "size": 16499
      },
      {
        "file": "main.html",
        "ctime": "2018-03-14T08:15:00.492Z",
        "mtime": "2018-03-14T08:15:00.488Z",
        "size": 47197
      },
      {
        "file": "modals/warning-en-modal.html",
        "ctime": "2018-03-14T08:23:37.876Z",
        "mtime": "2018-03-14T08:23:37.870Z",
        "size": 1076
      },
      {
        "file": "modals/warning-modal.html",
        "ctime": "2018-03-14T08:23:45.704Z",
        "mtime": "2018-03-14T08:23:45.701Z",
        "size": 1260
      },
      {
        "file": "modals/form-modal.html",
        "ctime": "2018-03-14T08:23:32.526Z",
        "mtime": "2018-03-14T08:23:32.522Z",
        "size": 631
      },
      {
        "file": "images/ui/arrow-left.svg",
        "ctime": "2018-03-12T08:33:00.923Z",
        "mtime": "2017-01-04T10:58:46.000Z",
        "size": 713
      },
      {
        "file": "images/ui/arrow-right.svg",
        "ctime": "2018-03-12T08:33:00.920Z",
        "mtime": "2017-01-04T10:58:46.000Z",
        "size": 633
      },
      {
        "file": "images/ui/check.svg",
        "ctime": "2018-03-12T08:33:00.921Z",
        "mtime": "2016-12-13T13:08:28.000Z",
        "size": 419
      },
      {
        "file": "images/ui/cross.svg",
        "ctime": "2018-03-12T08:33:00.929Z",
        "mtime": "2017-04-13T12:26:40.000Z",
        "size": 1097
      },
      {
        "file": "images/ui/zoom.png",
        "ctime": "2018-03-12T08:33:00.919Z",
        "mtime": "2017-02-06T12:37:01.000Z",
        "size": 23825
      },
      {
        "file": "js/main.js",
        "ctime": "2018-03-14T08:47:06.984Z",
        "mtime": "2018-03-14T08:47:06.984Z",
        "size": 1205454
      },
      {
        "file": "images/hero@2x.jpg",
        "ctime": "2018-03-12T15:47:38.182Z",
        "mtime": "2018-03-12T15:47:27.623Z",
        "size": 1101628
      },
      {
        "file": "fonts/Lato-Black.woff",
        "ctime": "2018-03-12T09:39:53.443Z",
        "mtime": "2018-03-12T10:39:26.000Z",
        "size": 307448
      },
      {
        "file": "fonts/Lato-Black.woff2",
        "ctime": "2018-03-12T09:39:53.446Z",
        "mtime": "2018-03-12T10:39:28.000Z",
        "size": 201596
      },
      {
        "file": "fonts/Lato-Bold.woff",
        "ctime": "2018-03-12T09:39:53.449Z",
        "mtime": "2018-03-12T10:39:20.000Z",
        "size": 313904
      },
      {
        "file": "fonts/Lato-Bold.woff2",
        "ctime": "2018-03-12T09:39:53.452Z",
        "mtime": "2018-03-12T10:39:24.000Z",
        "size": 207776
      },
      {
        "file": "fonts/Lato-Light.woff",
        "ctime": "2018-03-12T09:39:53.456Z",
        "mtime": "2018-03-12T10:39:16.000Z",
        "size": 297648
      },
      {
        "file": "fonts/Lato-Light.woff2",
        "ctime": "2018-03-12T09:39:53.459Z",
        "mtime": "2018-03-12T10:39:18.000Z",
        "size": 195692
      },
      {
        "file": "fonts/Lato-Medium.woff",
        "ctime": "2018-03-12T09:39:53.462Z",
        "mtime": "2018-03-12T10:39:24.000Z",
        "size": 309504
      },
      {
        "file": "fonts/Lato-Medium.woff2",
        "ctime": "2018-03-12T09:39:53.465Z",
        "mtime": "2018-03-12T10:39:26.000Z",
        "size": 204856
      },
      {
        "file": "fonts/Lato-Regular.woff",
        "ctime": "2018-03-12T09:39:53.469Z",
        "mtime": "2018-03-12T10:39:18.000Z",
        "size": 308680
      },
      {
        "file": "fonts/Lato-Regular.woff2",
        "ctime": "2018-03-12T09:39:53.472Z",
        "mtime": "2018-03-12T10:39:20.000Z",
        "size": 204004
      },
      {
        "file": "images/about-1.jpg",
        "ctime": "2018-03-12T15:43:32.768Z",
        "mtime": "2018-03-12T15:41:53.499Z",
        "size": 209589
      },
      {
        "file": "images/about-1@2x.jpg",
        "ctime": "2018-03-13T11:50:54.927Z",
        "mtime": "2018-03-13T11:50:11.265Z",
        "size": 580653
      },
      {
        "file": "images/about-2.jpg",
        "ctime": "2018-03-12T15:43:32.790Z",
        "mtime": "2018-03-12T15:42:02.226Z",
        "size": 139727
      },
      {
        "file": "images/about-2@2x.jpg",
        "ctime": "2018-03-13T11:50:54.937Z",
        "mtime": "2018-03-13T11:50:14.390Z",
        "size": 404155
      },
      {
        "file": "images/about-3.jpg",
        "ctime": "2018-03-12T15:43:32.807Z",
        "mtime": "2018-03-12T15:42:08.694Z",
        "size": 221483
      },
      {
        "file": "images/about-3@2x.jpg",
        "ctime": "2018-03-13T11:50:54.945Z",
        "mtime": "2018-03-13T11:50:17.024Z",
        "size": 608898
      },
      {
        "file": "images/about-4.jpg",
        "ctime": "2018-03-12T15:43:32.817Z",
        "mtime": "2018-03-12T15:42:16.023Z",
        "size": 173766
      },
      {
        "file": "images/about-4@2x.jpg",
        "ctime": "2018-03-13T11:50:54.960Z",
        "mtime": "2018-03-13T11:50:21.272Z",
        "size": 510341
      },
      {
        "file": "images/about-5.jpg",
        "ctime": "2018-03-12T15:43:32.827Z",
        "mtime": "2018-03-12T15:42:23.356Z",
        "size": 125329
      },
      {
        "file": "images/about-5@2x.jpg",
        "ctime": "2018-03-13T11:50:54.975Z",
        "mtime": "2018-03-13T11:50:24.479Z",
        "size": 360266
      },
      {
        "file": "images/about-6.jpg",
        "ctime": "2018-03-12T15:43:32.837Z",
        "mtime": "2018-03-12T15:42:32.025Z",
        "size": 224044
      },
      {
        "file": "images/about-6@2x.jpg",
        "ctime": "2018-03-13T11:50:54.983Z",
        "mtime": "2018-03-13T11:50:30.502Z",
        "size": 610788
      },
      {
        "file": "images/about-7.jpg",
        "ctime": "2018-03-12T15:43:32.846Z",
        "mtime": "2018-03-12T15:42:39.905Z",
        "size": 200435
      },
      {
        "file": "images/about-7@2x.jpg",
        "ctime": "2018-03-13T11:50:54.990Z",
        "mtime": "2018-03-13T11:50:34.090Z",
        "size": 575974
      },
      {
        "file": "images/help.jpg",
        "ctime": "2018-03-12T15:43:32.855Z",
        "mtime": "2018-03-12T15:38:19.666Z",
        "size": 25629
      },
      {
        "file": "images/help@2x.jpg",
        "ctime": "2018-03-12T15:43:32.860Z",
        "mtime": "2018-03-12T15:38:19.694Z",
        "size": 53851
      },
      {
        "file": "images/hero.jpg",
        "ctime": "2018-03-12T15:47:38.174Z",
        "mtime": "2018-03-12T15:47:27.195Z",
        "size": 429562
      },
      {
        "file": "images/touch/android-chrome-384x384.png",
        "ctime": "2018-03-12T09:32:22.167Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 23994
      },
      {
        "file": "images/touch/site.webmanifest",
        "ctime": "2018-03-12T09:32:26.774Z",
        "mtime": "2018-03-12T08:31:20.000Z",
        "size": 444
      },
      {
        "file": "js/main.js.map",
        "ctime": "2018-03-13T14:14:32.701Z",
        "mtime": "2018-03-13T14:14:32.701Z",
        "size": 245077
      },
      {
        "file": "js/components/jquery-3.3.1.js",
        "ctime": "2018-03-12T08:33:00.979Z",
        "mtime": "2018-01-30T16:32:05.000Z",
        "size": 271751
      },
      {
        "file": "js/components/jquery-ui.js",
        "ctime": "2018-03-12T08:33:00.990Z",
        "mtime": "2018-03-08T13:46:33.686Z",
        "size": 171487
      },
      {
        "file": "js/components/jquery.fancybox.js",
        "ctime": "2018-03-12T08:33:00.987Z",
        "mtime": "2017-11-27T20:38:18.000Z",
        "size": 154104
      },
      {
        "file": "js/components/jquery.inputmask.bundle.js",
        "ctime": "2018-03-12T08:33:00.988Z",
        "mtime": "2018-02-26T14:11:08.000Z",
        "size": 176984
      },
      {
        "file": "js/components/jquery.selectBoxIt.js",
        "ctime": "2018-03-12T08:33:00.976Z",
        "mtime": "2017-12-06T21:12:58.000Z",
        "size": 110455
      },
      {
        "file": "js/components/jquery.validate.js",
        "ctime": "2018-03-12T08:33:00.985Z",
        "mtime": "2017-07-29T05:19:54.000Z",
        "size": 48696
      },
      {
        "file": "js/components/messages_ru.min.js",
        "ctime": "2018-03-12T08:33:00.982Z",
        "mtime": "2017-07-29T05:20:26.000Z",
        "size": 2014
      },
      {
        "file": "js/components/picturefill.js",
        "ctime": "2018-03-12T08:33:00.983Z",
        "mtime": "2017-03-20T08:12:54.000Z",
        "size": 44683
      },
      {
        "file": "js/components/slick.js",
        "ctime": "2018-03-12T08:33:00.980Z",
        "mtime": "2018-03-05T14:49:23.608Z",
        "size": 88961
      },
      {
        "file": "js/components/tooltipster.bundle.js",
        "ctime": "2018-03-12T08:33:00.986Z",
        "mtime": "2018-01-29T11:02:22.000Z",
        "size": 119776
      },
      {
        "file": "images/confirm-bg.png",
        "ctime": "2018-03-14T07:04:57.288Z",
        "mtime": "2018-03-14T07:04:57.287Z",
        "size": 65323
      },
      {
        "file": "images/confirm-bg@2x.png",
        "ctime": "2018-03-14T07:04:57.315Z",
        "mtime": "2018-03-14T07:04:57.314Z",
        "size": 182859
      },
      {
        "file": "images/ui/marker.png",
        "ctime": "2018-03-13T14:38:30.693Z",
        "mtime": "2018-03-13T14:38:08.544Z",
        "size": 1628
      },
      {
        "file": "modals/request-modal.html",
        "ctime": "2018-03-14T08:18:18.123Z",
        "mtime": "2018-03-14T08:18:18.119Z",
        "size": 3019
      },
      {
        "file": "modals/confirm-modal.html",
        "ctime": "2018-03-14T08:40:22.061Z",
        "mtime": "2018-03-14T08:40:22.058Z",
        "size": 1068
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"]},\"compiler-node-sass\":{\"outputStyle\":\"expanded\"},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false}}",
  "file-type-less": "{\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":false,\"compiler-pug\":{\"pretty\":false,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":false,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":false,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":false,\"compiler-haml\":{\"pretty\":false,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"four\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":false,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":false,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":false,\"compiler-livescript\":{\"bare\":false,\"mangle\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}